<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Orders</title>
</head>
<body>
{% if orders %}
    <h1>Orders:</h1>
    <ul>
        {% for order in orders %}
            <li>
                <span>Medicine: {{ order[0] }}</span>
                <span>User: {{ order[1] }}</span>
                <span>Amount: {{ order[2] }}</span>
                <span>Price: {{ order[3] }}</span>
                <span>Status: {{ order[4] }}</span>
            </li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>